.skills-main-container {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.add-skill-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start
}

.add-skill-form button {
    width: 25px;
    border-radius:0 7px 7px 0;
    background-color: white;
    color: black;
    padding: 5px;
}

.add-skill-form button:hover {
    cursor: pointer;
    background-color: rgb(235, 235, 235);
}

.add-skill-form input {
    border: none;
    background-color: rgb(32, 32, 32);
    padding: 5px;
    margin-left: 2px;
    border-radius: 7px 0 0 7px;
}

.add-skill-form input:focus {
    border: none;
    outline: none;
}