.main-resume-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resume-container {
    background-color: white;
    color: black;
    min-height: 500px;
    width: 95vw;
    max-width: 550px;
    min-height: 700px;
}

.main-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    font-size: clamp(.5em, .8em, 1.6em);
    margin-bottom: -30px;
}

.main-heading p {
    font-size: clamp(.5em, .7em, 1.5em);
    font-weight: bold;
}

.info-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    gap: 5px;
    font-size: clamp(.4em, .6em, 1em);
    margin-top: 5px;
}

.info-heading a {
    color: black;
    text-decoration: none;
}

.resume-skills-line {
    display: flex;
    justify-content: flex-start;
    margin-left: 25px;
    max-height: 21px;
}

@media (min-width: 767px) {
    body {
        background-color: blue;
    }
    .resume-container {
        width: 550px;
    }
}
