.skills-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px
}

.skills-main-container button {
    border: none;
    outline: none;
    width: 120px;
    padding: 6px;
    border-radius: 10px;
}

.skills-sub-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.skills-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-list-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.skills-list-container ul li {
    text-align: left;
    padding: 0;
    margin: 0;
}

@media (min-width: 767px) {
    .skills-sub-container {
        flex-direction: row;
    }
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
}

.overlay {
    background-color: rgb(46, 46, 46);
    opacity: 90%;
}

.modal-form-skills {
    background-color: red;
    position: absolute;
    padding: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    min-width: 250px;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal-form-skills select, input, button {
    width: 150px;
    padding: 5px;
    align-self: center;
}
