.skills-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px
}

.skills-main-container button{
    border-radius: 10px;
}

.modal-open-btn {
    padding: 6px;
}

.skills-sub-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.skills-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-list-container {
    width: 15vw;
}

.skills-list-container ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.skills-list-container ul li {
    padding: 0;
    margin: 0;
}

@media (min-width: 767px) {
    .skills-sub-container {
        flex-direction: row;
        
    }
}

.modal,
.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
}

.overlay {
    background-color: rgb(46, 46, 46);
    opacity: 90%;
}

.modal-form-skills {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: slateblue;
    padding: 45px;
    min-width: 250px;
    max-width: 350px;
    gap: 10px;
    transform: translate(-50%, -50%);
    border-radius: 5%;
    top: 50%;
    left: 50%;
}

.modal-close-btn {
    max-width: 35px;
    top: 5%;
    left: 90%;
    position: absolute;
    text-align: center;
}

.modal-close-btn:hover {
    cursor: pointer;
    background-color: rgb(223, 7, 7);
}

.modal-form-skills select,
input {
    width: 150px;
    padding: 5px;
    align-self: center;
}

.skill-input {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.skill-input button {
    width: 35px;
}