.skills-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px
}

.skills-main-container button {
    border: none;
    outline: none;
    width: 120px;
    padding: 6px;
    border-radius: 10px;
}

.skills-sub-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.skills-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-list-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.skills-list-container ul li {
    text-align: left;
    padding: 0;
    margin: 0;
}

@media (min-width: 767px) {
    .skills-sub-container {
        flex-direction: row;
    }
}